h1 {
    letter-spacing: .8rem;
    text-align: center;
}

.title {
    grid-column: 2 / 4;
    grid-row: 1;
}

.anim {
    grid-column: 2 / 4;
    grid-row: 2;
}

.contact-txt {
    font-size: xx-large;
    text-align: center;
    grid-column: 2/4;
    grid-row: 2;
}

@font-face {
    font-family: 'Plat Nomor';
    src:  url('./content/PlatNomor-eZ2dm.otf') format('opentype');
}

h1, h2, h3, h4, a {
    font-family: 'Plat Nomor', sans-serif;
    color: white;
}

body {
    background-color: black;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

nav ul {
    padding-left: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60vw;
}

.link-effect a {
    font-family: 'Courier New', Courier, monospace;
	margin: auto;
	text-shadow: none;
	position: relative;
    text-decoration: none;
    font-size: larger;

}

.link-effect a::before {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	max-width: 0;
	border-bottom: 3px solid #9F0000;
	color: rgba(0, 0, 0, 0);
	content: attr(data-hover);
	-webkit-transition: max-width 0.3s;
	-moz-transition: max-width 0.3s;
	transition: max-width 0.3s;
    /* -webkit-text-stroke: 1px #9F0000; */
    /* text-stroke: 1px #9F0000; */
}

.link-effect a:hover::before {
	max-width: 100%;
}

@-webkit-keyframes svg-text-anim {
    40% {
       stroke-dashoffset: 0;
       fill: transparent;
     }
     60% {
       stroke-dashoffset: 0;
       fill: #ffffff;
     }
     100% {
       stroke-dashoffset: 0;
       fill: #ffffff;
     }
     
 }
 /* Most browsers */
 @keyframes svg-text-anim {
    40% {
       stroke-dashoffset: 0;
       fill: transparent;
     }
     60% {
       stroke-dashoffset: 0;
       fill: #ffffff;
     }
     100% {
       stroke-dashoffset: 0;
       fill: #ffffff;
     }
     
 }